[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
scikit-learn = "*"
pandas = "*"
flask = "*"
docker = "*"

[dev-packages]
tqdm = "*"
notebook = "==7.1.2"
ipywidgets = "*"
wget = "*"
sentence-transformers = "*"

[requires]
python_version = "3.12"
